* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 880px;
  margin: 0 auto;
  background-image: linear-gradient(135deg, white 60%, lightyellow 20%);
}